.person--list {
  list-style: none;
  display: flex;
  flex-direction: column;
  border: 1px solid #e2e2e2;
  padding: 0;
}

.person--item {
  display: grid;
  padding: 1rem;
  border: 1px solid #e2e2e2;
  grid-template-columns: repeat(5, 1fr);
}

.person--form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  align-items: flex-end;
}

.person--form-submit {
  justify-self: center;
  align-self: center;
}

.form-group {
  input {
    margin-inline: 0.2rem;
  }
  display: flex;
  padding-block: 1rem;
}
